[Unit]
Description=Add remote flathub
After=network-online.target
Wants=network-online.target
ConditionPathExists=!/var/flatpak-install/.remote-flathub

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/mkdir -p /var/flatpak-install
ExecStart=flatpak remote-add --system --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
ExecStartPost=/bin/touch /var/flatpak-install/.remote-flathub

[Install]
WantedBy=multi-user.target