[Unit]
Description=Install Flatpak app %I from fedora
Documentation=man:flatpak(1)
After=network-online.target flatpak-remote-fedora.service
Wants=network-online.target
ConditionPathExists=!/var/flatpak-install/fedora-%i
Requires=flatpak-remote-fedora.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c 'flatpak info --system %I >/dev/null 2>&1 \
    || flatpak install --system --noninteractive --assumeyes fedora %I'
ExecStartPost=/bin/touch /var/flatpak-install/fedora-%i

[Install]
WantedBy=multi-user.target